<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>Lisa I</string>
			<key>imageURL</key>
			<string>http://s3-media2.fl.yelpcdn.com/photo/JMIoxFgPy89UXuk18jtRsw/o.jpg</string>
			<key>text</key>
			<string>This was easily one of best things I ate while I was in New York.  I literally stepped off the plane, got into Manhattan, put my things down and headed out to Levain.  Nothing warms your soul like a giant chocolate chip walnut cookie on a Friday evening.  I probably won&apos;t be able to look at another cookie the same way.  If someone tells you to go to Levain, don&apos;t ask questions, just bookmark it on your places to check out on Yelp. 

ps. there&apos;s a line. so no complaining that said line exists or is long. it&apos;s worth the wait.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Matthew T.</string>
			<key>imageURL</key>
			<string>http://s3-media1.fl.yelpcdn.com/photo/JvVIxGVu9CRBpLlAOsG2oQ/o.jpg</string>
			<key>text</key>
			<string>I never thought I would have less than stellar sushi in Japan of all places but this place is really average especially considering all the hype it has on TripAdvisor and Yelp.

The biggest faux pas was the uni they served tasted like it was left out too long. Not at all fresh and had a very unpleasant taste. In fact, I didn&apos;t finish it and I never waste uni.

You definitely pay a higher price here for sushi but I can&apos;t justify the absurd line and wait time. We had to wait two hours! 

I would say the only things that make this worth a visit is the reservation machine which is novel and the fact that the sushi when presented is really something to behold. So if you want the perfect sushi pic for Instagram this is your place. But if you want great tasting sushi that doesn&apos;t require waiting forever then I suggest another place.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Shannon K.</string>
			<key>imageURL</key>
			<string>http://s3-media4.fl.yelpcdn.com/photo/cwR27pCmCtppKGfPaI_qow/o.jpg</string>
			<key>text</key>
			<string>Believe the hype. 
- All other cookies dull in comparison. 

You will never be the same again. 

Unpopular opinion: the dark chocolate peanut butter cookie is better than the famed chocolate chip walnut cookie.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Joe L.</string>
			<key>imageURL</key>
			<string>http://s3-media3.fl.yelpcdn.com/photo/UMyml2XtHmdEzztaAVNYig/o.jpg</string>
			<key>text</key>
			<string>I have only been to Soba Totto for lunch, but it seems like a chill place to go for some drinks, snacks, or dinner, too.  It&apos;s got a somewhat dark, loungey vibe with a small bar area up front, separated from the long and narrow dining area and counter seating in the back.  I arrived just before noon on a weekday and although it was not crowded then, it filled up very quickly within about 10 or 15 minutes.

I had the bara chirashi set, which is a steal at $10.  It consists of a salad starter, a substantial portion of hot or cold soba, and the rice bowl with an ample quantity of diced sashimi (tuna, salmon, mackerel, shrimp, eel, sea urchin &amp; roe).  They only make 20 orders of this each day, so get there early if you want to try it.

Overall, I liked the ambiance, the service was friendly and prompt, and the quality of the food was fantastic, particularly given the price.  I will undoubtedly go back, and if you&apos;re looking for a tasty and affordable lunch option in the area, you should definitely check this place out.</string>
		</dict>
	</array>
</dict>
</plist>
